*{margin:0; padding: 0}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #1C2A33;
    color: rgb(227, 230, 228);
    padding: 7% 0;
}

.article {
    margin: 0 auto;
    width: max-content;
    height: auto;
    background-color: #46525E;
    border: 4px solid #0E0E0E;
    border-radius: 7px;
    text-align: left;
    box-sizing: border-box;
    padding: 50px 75px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
